@import url('../Global/global.css');

.partners-section {
  .partners-logo {
    cursor: pointer;
  }

  .partners-logo-img {
    max-height: 40px;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }

  .partners-logo:hover .partners-logo-img {
    filter: grayscale(0%);
  }
}